.App {
  text-align: center;
  height: 100vh;
}

.screen{
  height: 100%;
}

.mainChart{
  margin: 70px;
  margin-bottom: 0;
  height: 80%;
}

.valChart{
  border: .1px solid black;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(226, 226, 240, 0.144);
  margin: 70px;
}

.chartChild{
  padding: 10px;
  flex-grow: 1;
  margin: 5px;
}

.chartChild > * {
  padding: 5px 10px;
  /* border: black 1px solid; */
  margin: 5px;
  background-color: white;
}

.withB{
  border: 1px solid black;
}